<div class="jumbotron text-center header-size">
  <h1>Reconciliation</h1>
</div>
<div class="d-flex flex-row align-items-center">
    <label for="dt" class="w-25 mr-2">Select Month:</label>
    <input id="dt" type="text"
            class="form-control mb-2"
            [bsConfig]="bsConfig"
            #dp="bsDatepicker"
            bsDatepicker [(bsValue)]="datePickerValue">      
</div>
<div class="d-flex flex-row align-items-center">     
  <label for="IncomeExpenseType" class="w-25 mr-2">Income/Expense:</label> 
  <select class="form-control mb-2" id="IncomeExpenseType" name="IncomeExpense" [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)">
    <option *ngFor="let item of incomeExpenseTypeEnumKeys" [value]="item">{{incomeExpenseType[item]}}</option>
  </select>
  <br>
</div>
<div class="d-flex flex-row align-items-center">
  <label for="ItemName" class="w-25 mr-2">Item Name:</label>
  <select class="form-control mb-2" id="ItemName" name="ItemNames" [(ngModel)]="selectedItem">
    <option *ngFor="let item of itemList" [value]="item.id">{{item.itemName}}</option>
  </select>
  <br> 
</div>
<div class="d-flex flex-row align-items-center">
    <label for="usr" class="w-25 mr-2">Amount:</label>
    <input type="number" required class="form-control  mb-2" id="usr" [(ngModel)]="amount">
</div>
<div class="d-flex justify-content-center">
  <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
  <button type="submit" class="btn btn-danger ml-3 " [routerLink]="['']">Cancel</button>
</div>



