
<div class="jumbotron text-center">
  <h1>Reconciliation</h1>
</div>
<div class="container">
  <div class="row">
    <div class="form-group">
      <label for="sel1">Income/Expense:</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <br>
    </div>
    <div class="form-group">
      <label for="sel1">Item Name:</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <br>
    </div>
    <div class="form-group">
      <label for="usr">Amount:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <!--<div class="form-group">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               class="form-control"
               [bsConfig]="bsConfig"
               #dp="bsDatepicker"
               bsDatepicker [(bsValue)]="datePickerValue">
      </div>
      <div class="col-xs-12 col-12 col-md-3 form-group">
        <button class="btn btn-success" (click)="dp.toggle()" type="button">Date Picker</button>
      </div>
    </div>-->
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
