
<div class="jumbotron text-center">
  <h1>Reconciliation</h1>
</div>
<div class="container">
  <div>
    <div class="form-group row">
      <div class="col-md-2">
        <label for="IncomeExpenseType">Income/Expense:</label>
      </div>
      <select class="form-control col-md-4" id="IncomeExpenseType" name="IncomeExpense" [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)"> 
        <option *ngFor="let item of incomeExpenseTypeEnumKeys" [value]="item">{{incomeExpenseType[item]}}</option>
      </select>
      <br>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <label for="ItemName">Item Name:</label>
      </div>
      <select class="form-control col-md-4" id="ItemName" name="ItemNames">
        <option *ngFor="let item of itemList" [value]="item">{{item.itemName}}</option>
      </select>
      <br>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <label for="usr">Amount:</label>
      </div>
      <input type="number" required class="form-control col-md-4" id="usr">
    </div>
    <!--<div class="form-group">
      <div class="col-xs-12 col-12 col-md-2 form-group">
        <input type="text"
               class="form-control"
               [bsConfig]="bsConfig"
               #dp="bsDatepicker"
               bsDatepicker [(bsValue)]="datePickerValue">
      </div>
      <div class="col-xs-12 col-12 col-md-2 form-group">
        <button class="btn btn-success" (click)="dp.toggle()" type="button">Date Picker</button>
      </div>
    </div>-->
    <div>      
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-danger">Cancel</button>
      </div>
    
    </div>
  </div>
